<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/img/icon_ruby.png">
        <link rel="stylesheet" href="/css/style.css">
        <title>portfólio</title>
    </head>
    <body>
        <div class="container">
        
            <%# Apresentação %>
            <div class="apresentacao">
                <h1>Olá<br>Eu sou <span>Juan Pereira</span></h1>
                <p>Desenvolvendo com agilidade em Ruby</p>
                <p style="margin: 25px 0px;">Explorando o mundo do back-end com Ruby, combinando<br> aprendizado contínuo e criação de soluções eficientes</p>
                <%# Alinhamento %>
                <div class="line">

                    <%# Links redes sociais %>
                    <div class="links">
                        <ul class="social-media">
                            <li class="item_icon"><a href="https://www.instagram.com/juan_programando"><img src="/img/instagram.svg" alt="instagram_icon"></a></li>
                            <li class="item_icon"><a href="https://www.youtube.com/@juan_programando"><img src="/img/youtube.svg" alt="youtube_icon"></a></li>
                            <li class="item_icon"><a href="https://www.linkedin.com/in/juanpereirarobi/"><img src="/img/linkedin.svg" alt="linkedin_icon"></a></li>
                            <li class="item_icon"><a href="https://github.com/Juan1200noob"><img src="/img/github.svg" alt="github_icon"></a></li>
                        </ul>
                    </div>

                    <%# Botão projetos %>
                    <div class="buttons">
                        <a href="/projetos">
                            <button class="btn">projetos</button>
                        </a>
                    </div>
                </div>
            </div>

            <%# Logo Ruby %>
            <div class="logo_ruby">
                <img src="/img/icon_ruby.png" alt="logo ruby" id="logo">
            </div>
        </div>
    </body>
</html>