<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/img/icon_ruby.png">
        <link rel="stylesheet" href="/css/style.css">
        <title>Portfólio | @juanpereirarobi</title>
    </head>
    <body>

        <%# Container dos projetos %>
        <div class="container_projetos">

            <%# Botão voltar %>
            <div class="voltar">
                <a href="/">
                    <button class="btn">voltar</button>
                </a>
            </div>

            <%# Título %>
            <div class="titulo">
                <h1><strong>PROJETOS</strong></h1>
            </div>

            <%# Projetos %>
            <div class="projetos">
                <a href="/projetos/teste_form">

                    <%# projeto teste_form %>
                    <div class="projeto">
                        <img src="/img/TESTE_FORM.png" alt="Projeto 1">
                        <h2>TESTE_FORM</h2>
                        <p>Teste de envio email</p>
                    </div>
                </a>

                <a href="/projetos/project_atv2">

                    <%# projeto project-atv2 %>
                    <div class="projeto">
                        <img src="/img/PROJECT-ATV2.png" alt="Projeto 1">
                        <h2><strong>PROJECT-ATV2</strong></h2>
                        <p>Atividade do curso</p>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>