<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/img/icon_ruby.png">
        <link rel="stylesheet" href="/css/style.css">
        <title>portfólio</title>
    </head>
    <body>

        <%# Container dos projetos %>
        <div class="container_projetos">

            <%# Botão voltar %>
            <div class="voltar">
                <a href="/">
                    <button class="btn">voltar</button>
                </a>
            </div>

            <%# Título %>
            <div class="titulo">
                <h1>projetos</h1>
            </div>
            <div class="projetos"></div>
        </div>
    </body>
</html>