<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/img/icon_ruby.png">
        <link rel="stylesheet" href="/css/style.css">
        <title>Portfólio | @juanpereirarobi</title>
    </head>
    <body>
        <div class="container_projetos">

            <%# Botão voltar %>
            <div class="voltar">
                <a href="/projetos">
                    <button class="btn">voltar</button>
                </a>
            </div>

            <%# Título %>
            <div class="titulo">
                <h1><strong>PROJECT-ATV2</strong></h1>

                <%# Descrição %>
            <div class="descricao">
                <div class="img_descricao">
                    <img src="/img/PROJECT-ATV2.png" alt="img_projeto" width="500px">
                </div>
                <p>Foi uma proposta feita pelo meu professor,  onde tínhamos que replicar um site modelo com o objetivo de aprendizado.<br> Para ver a fonte clica aqui 👉 <strong><a href="https://github.com/Juan1200noob/project-atv2" target="_blank">project-atv2</a></strong></p> 
            </div>
            
            <%# Tecnologias %>
            <div class="descricao_tec">
                <p>Tecnologias usadas: </p>
                <ul>
                    <li><img src="/img/html-icon.png" alt="img_projeto" width="30px"><strong>HTML</strong></li>
                    <li><img src="/img/css-icon.png" alt="img_projeto" width="30px"><strong>CSS</strong></li>
                    <li><img src="/img/javascript-programming-language-icon.png" alt="img_projeto" width="30px"><strong>JS</strong></li>
                    <li><img src="/img/git-icon.png" alt="img_projeto" width="30px"><strong>GIT</strong></li>
                </ul>

                <p>Ferramentas usadas: </p>
                <ul>
                    <li><img src="/img/visual-studio-code-icon.png" alt="img_projeto" width="30px"><strong>VS CODE</strong></li>
                    <li><img src="/img/github.svg" alt="img_projeto" style="filter: invert(1);" width="30px"><strong>GITHUB</strong></li>
                </ul>
            </div>
        </div>
    </body>
</html>