/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variáveis */
:root {
    --font_family: firecode, monospace;
    --font_color_1: #ffffff;
    --font_color_2: #70C8FF;
    --font_color_3: #ebebeb17;
    --background_image: url('../img/bg-mobile.jpg');
}

/* Estilos do corpo */
body {
    display: grid;
    background-image: var(--background_image);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--font_family);
    color: var(--font_color_1);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    gap: 20px;
    opacity: 0;
    transition: transletY(30px);
    animation: slideUp 1s forwards;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos da apresentação */
.apresentacao {
    padding: 10px;
}

/* Estilos do texto apresentação */
h1 {
    color: var(--font_color_1);
    font-size: 40px;
}

span {
    color: var(--font_color_2);
}

/* Estilos da linha */
.line {
    justify-content: space-evenly;
    gap: 20px;
    padding: 5px;
    align-items: center;
    display: flex;
}

/* Estilos das redes sociais */
.social-media  {
    display: flex;
    list-style-type: none;
}

.social-media .item_icon a img {
    width: 40px;
    filter: invert(1);
    margin: 0px 9px;
}

.social-media .item_icon a img:hover {
    filter: invert(0.8);
    transition: 0.3s;
}

/* Estilos dos botões */
.btn {
    color: var(--font_color_1);
    border: 3px solid var(--font_color_1);
    font-size: 20px;
    padding: 10px 20px;
    background-color: #ffffff00;
    border-radius: 25px;
    cursor: pointer;
    float: initial;
}

.btn:hover {
    background-color: var(--font_color_1);
    color: #2e2e2e;
    transition: 0.3s;
}

/* Estilos do logo */
.logo_ruby {
    padding: 10px;
}

#logo {
    width: 250px;
    border-radius: 50%;
    border: 4px solid var(--font_color_1);
}

/* Estilos dos projetos */

/* Estilos do container dos projetos */
.container_projetos {
    margin: 10px;
    opacity: 0;
    transition: tranlateY();
    transition: transletY(30px);
    animation: slideUp 1s forwards;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container_projetos h1 {
    text-align: center;
    font-size: 48px;
}

.projetos {
    display: flex;
    margin: 10px;
    gap: 20px;
}

.projetos .projeto {
    text-align: center;
    background-color: var(--font_color_3);
    padding: 10px;
    width: 200px;
    height: 250px;
    border-radius: 15px;
    text-decoration: none;
}

.projetos a {
    text-decoration: none;
    width: 200px;
}

.projetos .projeto img {
    width: 100%;
    height: 125px;
    border-radius: 15px;
    border: 2px solid var(--font_color_1);
}

.projetos .projeto h2 {
    margin: 10px 0px;
    font-size: 24px;
    color: var(--font_color_1);
}

.projetos .projeto p {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--font_color_1);
    text-decoration: none;
}

.projetos .projeto:hover {
    background-color: #ffffff25;
    transition: 0.3s;
    cursor: pointer;
}

/* projeto - descrição*/
.descricao {
    align-items: center;
    margin: 15px;
    display: flex;
    justify-content: center;
    gap: 150px;
}

.img_descricao img {
    border: 3px solid var(--font_color_1);
    border-radius: 15px;
}

.descricao a {
    color: var(--font_color_2);
    text-decoration: none;
}

.descricao_tec {
    margin: 15px;
    width: 300px;
    height: auto;
    gap: 100px;
}

.descricao_tec p {
    margin-top: 17px;
}

.descricao_tec ul li{
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 5px;
}

/* Estilos responsivos */
@media screen and (max-width: 920px) {

    /* Container */
    .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    /* Estilos do texto apresentação */
    h1 {
        font-size: 32px;
    }

    p {
        font-size: 13px;
    }

    /* Estilos da linha */
    .line {
        flex-direction: column;
    }

    /* Estilos da logo */
    .logo_ruby:last-child {
        order: -1;
    }

    .logo_ruby #logo {
        width: 100px;
    }

    /* Estilos do projetos */
    .projetos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .projetos .projeto {
        width: 80%;
        height: auto;
    }

    .projetos .projeto img {
        height: auto;
    }

    .projetos .projeto h2 {
        font-size: 20px;
    }

    .projetos .projeto p {
        font-size: 12px;
    }

    /* Estilo do projeto */
    .descricao {
        display: grid;
        gap: 30px;
    }

    .descricao_tec p {
        margin-top: 10px;
    }

    .img_descricao img{
        width: 300px;
    }

}




